:root {
  --colorText: #5e5e5e;
}


/*
    --color-brand-primary-lightest: #FDE6E3;
    --color-brand-primary-light:    #FE918D;
    --color-brand-primary-medium:   #E3262E;
    --color-brand-primary-dark:     #A61D19;
    --color-brand-primary-darkest:  #67160D;
*/
.main {
  color: var(--colorText);
  text-align: center;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 15px 0;
  height: var(--heightmain);
  bottom: 0;
}
.main section:nth-child(1) {
  display: inline-flex;
  gap: 15px;
}
.main section:nth-child(2) {
  flex-direction: column;
}

.main .logo {
  background-color: red;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main section a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--colorText);
  text-decoration: none;
}
.main span,
.main svg {
  color: var(--color-brand-primary-medium);
  transition: all 0.5s;
}
.main span:hover,
.main svg:hover {
  color: var(--color-brand-primary-darkest);
}
