.main {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.main button {
  padding: 5px 10px;
  color: #ffffff;
  background-color: red;
  border: 1px solid #ccc;
  margin: 5px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.main button:hover {
  color: #979595;
  background-color: #926060;

}
