:root {
  --color-brand-primary-lightest: #fde6e3;
  --color-brand-primary-light: #fe918d;
  --color-brand-primary-medium: #e3262e;
  --color-brand-primary-dark: #a61d19;
  --color-brand-primary-darkest: #67160d;
  --heightNavBar: 60px;
  --heightFooter: 60px;
  --color-text: #333;
  --color-bg: #f5f7fa;
  --color-white: #fff;
}

/* ---------------- MAIN ---------------- */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  background-color: var(--color-bg);
  padding: 10px;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main section .asideBTN{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.main > section {
  background-color: #fff;
}

.main > section > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5px;
}

.main > section > div > p {
  color: #573434cc;
  border-bottom: 1px solid #ccc;
}

.main > section > div > p > strong {
  color: #131212cc;
}

/* ---------------- INPUTS ---------------- */
.main input,
.main select {
  background: var(--color-bg);
  color: var(--color-text);
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  filter: drop-shadow(3px 4px 6px #303030cc);
}

/* ---------------- BUTTON ---------------- */
.main button {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  border: none;
  background: var(--color-brand-primary-medium);
  color: #fff;
  padding: 9px 14px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  filter: drop-shadow(3px 4px 6px #303030cc);
}

.main button:hover {
  opacity: 0.9;
  color: #ccc;
}

/* ---------------- FILE ---------------- */
.main input[type="file"] {
  background: var(--color-brand-primary-medium);
  border: 1px dashed #ccc;
  padding: 8px;
  border-radius: 6px;
  color: #fff;
}

/* ---------------- TABLE ---------------- */
.main .sectionTable {
  width: 100%;
  overflow-x: auto; /* 🔥 scroll horizontal */
}

.main .sectionTable table {
  width: max-content; /* 🔥 deixa crescer conforme conteúdo */
  min-width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin: 5px;
}

/* HEADER */
.main .sectionTable thead {
  background-color: var(--color-brand-primary-darkest);
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}

/* TH */
.main .sectionTable th {
  padding: 0.75rem;
  font-size: 12px;
  text-align: left;

  white-space: nowrap; /* 🔥 NÃO QUEBRA */
  min-width: 150px; /* 🔥 evita sobreposição */
}

/* TD */
.main .sectionTable td {
  padding: 0.75rem;
  font-size: 12px;
  white-space: nowrap; /* opcional: deixa tudo alinhado */
}

/* LINHAS */
.main .sectionTable tbody tr:nth-child(even) {
  background-color: #ff00004f;
}

.main .sectionTable tbody tr:nth-child(odd) {
  background-color: #fa030338;
}

.main .sectionTable tbody tr:hover {
  background-color: #c04a4a;
  filter: drop-shadow(3px 4px 6px #000000);
}

/* NUMEROS */
.number {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .main .sectionTable th,
  .main .sectionTable td {
    padding: 6px;
  }
}