.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}
.titles {
  font-size: 48px;
  color: "#333";
}

@keyframes Efeito {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.titles {
  animation: Efeito 1s linear infinite;
}
