.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main .section {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  align-items: center;
  justify-content: start;
  align-items: start;
  text-align: center;
  flex-direction: row;
}

.main .sectionTarefas {
  width: 80%;
  table-layout: fixed; /* evita expansão */
  font-size: 14px;
  table-layout: fixed;
  font-size: 14px;
}
.main .sectionTarefas td:first-child {
  white-space: normal;
  overflow-wrap: break-word; /* quebra dentro de palavras */
  word-break: break-all;
  width: 300px;
}
