.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #e6e6e6;
  padding: 5px;
}

/* Topo com "Voltar" e "Relatório" */
.main .btnSecttion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main .btnSecttion a {
  color: #444;
  padding: 6px 10px;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.2s;
  font-weight: 500;
}

.main .btnSecttion a:hover {
  background-color: #ccc;
}

/* CONTAINER PRINCIPAL */
.sectionDataBase {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* CARD */
.sectionItem {
  width: 85%;
  max-width: 1100px;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.sectionItem h1 {
  color: var(--color-brand-primary-dark);
  margin-bottom: 5px;
}

/* GRID DE INFORMAÇÕES */
.gridInfo {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 12px;
  padding: 15px;
  background-color: #f7f7f7;
  border-radius: 12px;
  border: 1px solid #d1d1d1;
}

.gridInfo div {
  text-align: center;
}

.gridInfo h4 {
  font-size: 0.9rem;
  font-weight: bold;
  color: #444;
  margin-bottom: 2px;
}

.gridInfo p {
  color: #333;
  font-size: 0.95rem;
}

/* INPUTS */

.inputs {
  margin-top: 0px;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  flex-direction: column;
}

.inputs div {
  margin-bottom: 15px;
  display: inline-flex;
  flex-direction: column;
}

.inputs label {
  color: #444;
  font-size: 0.9rem;
  margin-bottom: 6px;
}

.inputs select,
.inputs input,
.inputs textarea {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  height: 36px;
  padding: 6px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

.inputs textarea {
  height: 90px;
}

/* BOTÕES */
.btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btns button {
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-brand-primary-medium);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btns button:hover {
  background-color: var(--color-brand-primary-dark);
}
