:root {
  --color-brand-primary-lightest: #fde6e3;
  --color-brand-primary-light: #fe918d;
  --color-brand-primary-medium: #e3262e;
  --color-brand-primary-dark: #a61d19;
  --color-brand-primary-darkest: #67160d;
  --heightNavBar: 60px;
  --heightFooter: 60px;
  --color-relatorio: #a83535;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AMX", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #000000 !important;*/
}

body {
  background-color: #fdfdfd;
  width: 100%;
  height: 100%;
}

*::first-letter {
  text-transform: capitalize !important;
}
p::first-letter {
  padding-left: 15px;
}

p {
  font-size: 15px;
  font-size: clamp(14px, 5vw, 16px) !important;
}

h1 {
  font-size: 24px;
  font-size: clamp(20px, 5vw, 24px) !important;
}
