.main {
  width: 100px;
  height: 65px;
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;
  flex-direction: column;
  padding: 0px 5px;
   
}

.main > img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;
}
