.main {
  display: flex;
  width: 100px;
  height: 65px;
  justify-content: start;
  align-items: start;
  position: relative;
  flex-direction: column;
 
   
}

.main > img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;
}
