.main {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 5px;
}

.main > .graficoaside {
  display: flex;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-content: center;
  flex-direction: row;
}

.main .card {
  overflow: hidden;
}

.main .card > {
  width: 18px; /* Exemplo de largura restrita */
  border: 1px solid #ddd;
  padding: 8px;
  overflow-wrap: break-word; /* Quebra palavras compridas quando necessário */
  word-wrap: break-word; /* Compatibilidade antiga */
  word-break: normal; /* Mantém quebras “normais” */
  white-space: normal; /* Permite quebrar linhas */
}

.main button,
.main input[type="month"] {
  background: var(--color-brand-primary-medium);
  filter: drop-shadow(3px 4px 5px #302f2f);
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  align-items: center;
}

.main input[type="month"]:hover,
.main button:hover {
  background: var(--color-brand-primary-medium);
  opacity: 0.9;
  color: #ccc;
}

.main table {
  width: 100%;
  height: 100%;
  width: 100%;
  table-layout: fixed; /* evita expansão */
}

.main table th,
.main table td {
  padding: 6px 8px;
}

.main table th {
  background: #a1343c;
  font-weight: 600;
  color: #fff;
}
.main table tbody {
  background-color: #fff;
}
